
.bio p {
  padding: 3em;
  line-height: 300%;
  font-size: 1em;
}

.bio {
  background-color: white;
}

body {
  background-color: #f0ebdf;
}

.row {
  padding-top: 5em;
}

.bio {
  padding: 5em;
}

.non{
    transition: all 3.8s ease;
}

.hidden {
  opacity: 0;
}

.non{
    transition: all 3.8s ease;
}

.hidden1 {
  opacity: 0;
}
