
.book_scroll {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.card-title{
  height: 2em;
}

.card {
  margin: auto;
}

.container-fluid {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 50px;
}

.container-fluid h1 {
  font-family: "Helvetica Neue";
}

.carousel-item {

  padding-left: 50px;
  padding-right: 50px;

}

.card-body {
  text-align: center;
}

.book h1 {
    padding-top: 50px;
    font-size: 5em;
    text-align: center;
}

.book h4 {
    font-size: 1.2em;
    font-family: "Verdana";
    line-height: 1.9;
}
