/*  if desktop then hide mobile   */
.mobile {
  display: none;
}

/*  if below 600px then hide deskptop and show mobile   */
@media only screen and (max-device-width: 600px) {
    .mobile{display: block;}
    .desktop {display: none;}
}

.social > li {
    padding-left: 20px;
    display: inline-block;
}

.navbar {
  background: #ED9EBE;
}

.links {
  margin-right: 1em;
  color: Black;
}

.links:hover {
  color: #000;
}

.links {
  color: #fff;
  cursor: pointer;
}

.navbar-collapse {
  justify-content: flex-end;
}
